{plugins, [rebar3_format]}.

{format,
 [% {files, ["src/*.erl", "include/*.hrl", "test/*.erl"]},
  {files, ["**/*.erl"]},
  {formatter, default_formatter},
  {options,
   #{break_indent => 2,
     % paper => 100,
     % inline_qualified_function_composition => true,
     % inline_simple_funs => true,
     % inline_items => all,
     % inline_attributes => all,
     % inline_expressions => true,
     inline_clause_bodies => true}}]}.
